@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: #e5e5e5;
    background-image: radial-gradient(#fff, #dbdbdb);
    color: #3C3C3C;
}

#wrapper {
    background-color: #fff;
    width: 95%;
    margin: auto;
    box-shadow: 0px 0px 10px #353535;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 0;
}

nav li {
    list-style: none;
    text-align: center;
    margin: 5px 0;
    font-weight: 600;
}

nav a {
    color: #BD6100;
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-decoration: none;
}

nav a:hover {
    color: #000;
    transition-duration: 1s;
}

h1, h2, h3, h4 {
    font-family: 'Gayathri', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 6rem;
    color: #009BBD;
    letter-spacing: 1rem;
    margin-bottom: -.5em;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    text-align: center;
    text-transform: lowercase;
    font-size: 3rem;
    letter-spacing: .7rem;
    color: #333;
    text-shadow: 0 0 1px #fff;
}

#social-btns {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

#social-btns a {
    filter: brightness(110%);
}

#social-btns a:hover {
    transform: rotate(360deg);
    transition-duration: 3s;
}

#social-btns img{
    width: 5em;
}

h3 {
    font-size: 2rem;
    letter-spacing: 2px;

}

#abt-l h3{
    text-indent: 1em;
}

h4 {
    color: #000;
}

#abt-skills {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

#abt-skills ul {
    font-size: 1.5rem;
}

#abt-l {
    width: 65%;
    padding: 0 2em;
}

#abt-r {
    width: 30%;
    text-align: center;
}

#abt-r ul {
    margin: auto;
    text-align: center;
    list-style: none;
    padding-left: 0;
    display: block;
}

#projects {
    text-align: center;
    width: 100%;
    background-color: #00A7CC;
    padding: .5em 0;
}

#projects h3 {
    color: #000;
}

#p-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: -2em;
    padding-bottom: 2em;
}

h4 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: #000;
}

#projects img {
    width: 90%;
    border: 2px solid #111;
    filter: brightness(90%);
    margin-top: -1.5em;
}

#projects img:hover {
    filter: brightness(105%);
    transition-duration: 1s;
    box-shadow: 0 0 20px #fff;
}

.livecode {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.livecode a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.livecode button {
    background-color: transparent;
    border: 1px solid #000;
    margin: 3px auto;
    border-radius: 3px;
}

#contact {
    display: flex;
}

#contact h3, label {
    color: #fff;
}

#contact-l {
    width: 70%;   
    text-align: center;
    font-size: 1.2rem;
    flex: left;
    background-color: #3c3c3c;
    padding-bottom: 2em;
}

#contact-r {
    width: 30%;
    display: flex;
    flex: right;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

#contact-r a{
    text-decoration: none;
    color: #333;
}

#contact-r img {
    width: 6em;
    margin: auto;
    padding: 20px;
}

/*#contact-r img:hover {
    transform: rotate(360deg);
    transition-duration: 3s;
}*/

form {
    margin: auto;
    width: 75%;
}

.field {
    width: 30em;
    border: 1px inset #000;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #fff;
    margin: 5px auto 10px;
}

#submit {
    text-align: center;
    width: 7em;
    border: 2px outset #008EAE;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #fff;
    background-color: #007792;
}

#submit:hover {
    background-color: #707070;
    border: 2px outset #008EAE;
    color: #fff;
    transition-duration: 2s;
}

input:hover, textarea:hover, #submit:hover {
    filter: brightness(95%);
    transition-duration: 0.5s;
}

label {
    margin-top: 10px;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: left;
}

#socialmedia {
    width: 50%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.s-icons{
    width: 5em;
}

.s-icons:hover {
    transform: rotate(360deg);
    transition-duration: 3s;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: small;
}


@media screen and (max-width: 1040px) {
    h1{
        font-size: 4em;
        text-shadow: 1px 1px 1px #000;
    }

    h2 {
        font-size: 2rem;
        margin-top: 1em;
    }

    #social-btns {
        width: 80%;
        margin: 1em auto 2em auto;
        text-align: center;
    }

    #social-btns img, .s-icons{
        width: 4em;
    }

    .field {
        width: 20em;
    }

    .livecode {
        flex-direction: column;
        padding: 0 0;
    }

}

@media screen and (max-width: 718px) {
    * {
        font-size: 14pt;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.3em;
    }

    #social-btns img{
        width: 40%;
    }

    #social-btns a:hover{
        transform: none;
    }

    #abt-skills {
        text-align: center;
        display: block;
        width: 100%;
    }

    #abt-l h3{
        text-indent: 0;
    }

    #abt-l {
        width: 100%;
        padding: 1em 0;
    }

    #abt-l ul {
        text-align: left;
        padding-left: 2em;
    }
    
    #abt-r {
        width: 100%;
    }

    #projects {
        padding: 1em 0;
    }

    #projects h3{
        margin-bottom: 2em;
    }

    #p-wrap {
        display: block;
    }

    .livecode {
        flex-direction: row;
        padding: 0 10%;
    }

    .livecode a {
        font-size: 1.1rem;
    }
    
    h4 {
        font-weight: 800;
        text-indent: 1em;
        margin-bottom: 1em;
    }

    #contact {
        display: block;
        padding-bottom: 3em;
    }

    #contact-l {
        background-color: #fff;
    }

    #contact h3, label {
        color: #3c3c3c;
    }

    #contact-l {
        width: 100%;   
    }

    #contact-r {
        margin-top: -3em;
    }

    form {
        width: 100%;
    }

    .field {
        width: 80%;
    }

    #submit {
        margin-bottom: 3em;
    }

    #contact-r {
        width: 100%;
    }
    
    .icons {
        width: 4em;
        filter: drop-shadow(0 0 .5px #000);
        margin: 3em 0 0 0;
        padding: 10px;
    }
}

@media screen and (max-width: 465px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
        margin-top: 1em;
    }

    #abt-skills h3, #contact h3 {
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: 1.25em;
    }

    #social-btns {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #social-btns img {
        width: 60%;
    }

    .livecode a, label {
        font-size: 12pt;
    }
}
